body {
    margin: 0;
    font-family: 'Akaya Kanadaka', cursive;
    }

    .top-navigation {
    overflow: hidden;
    background-color: #849B87;
    }

    .top-navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 25px;
    }

    .top-navigation a:hover {
    color: black;
    }

    .top-navigation a.active {
    color: white;
    }

    .right-navigation{
        float: right;
    }

    .left-navigation{
        float: left;
    }

    .top-navigation .icon {
    display: none;
    }

    @media screen and (max-width: 600px) {
    .top-navigation a:not(:first-child) {display: none;}
    .top-navigation a.icon {
        float: right;
        display: block;
    }
    }

    @media screen and (max-width: 600px) {
    .top-navigation.responsive {position: relative;}
    .top-navigation.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:#849B87;
        color: white;
        text-align: center;
        }

